[class^='mat-list-'] {
    &:hover:active {
      background: rgba(255, 255, 255, 0.04);
    }
    &:focus,
    .mat-list-text {
      background: none !important;
    }
  }
  
  [mat-menu-item].is-active,
  [mat-list-item].is-active {
    background: hsla(0, 0%, 100%, 0.1) !important;
  }